.packages-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  background: white;
  box-shadow: -10px 0px 25px 0px rgba(0, 0, 0, 0.082);
  height: 500px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

.packages-title {
  width: 100%;
  top: 0px;
  height: 10%;
  background: rgb(212, 212, 212);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.packages-title a {
  cursor: pointer;
  font-size: 20pt;
  font-weight: 700;
  margin: auto;
  z-index: 5000 !important;
}

.packages-options {
  position: absolute;
  top: 0px;
  height: 100%;
  min-width: 100%;
  display: flex;
  overflow: hidden;
}

.package {
  height: 100%;
  min-width: 100%;
}

#basic {
  position: relative;
}

#standard {
  position: relative;
}

#premium {
  position: relative;
}

.basic-selection {
  position: absolute;
  top: 0px;
  width: 30%;
  height: 10%;
  z-index: 2000;
  border-bottom: 5px solid var(--main-color);
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.standard-selection {
  position: absolute;
  top: 0px;
  left: 34%;
  width: 30%;
  height: 10%;
  z-index: 2000;
  border-bottom: 5px solid var(--main-color);
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.premium-selection {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 10px;
  width: 30%;
  height: 10%;
  z-index: 2000;
  border-bottom: 5px solid var(--main-color);
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-package {
  position: relative;
  height: 90%;
  width: 100%;
  top: 10%;
}

.green {
  color: rgb(0, 255, 0);
  font-size: 30pt;
  margin-right: 30px;
}

.gray {
  color: rgb(185, 185, 185);
  font-size: 30pt;
  margin-right: 30px;
}

.container-package-options {
  position: absolute;
  width: 100%;
  text-align: left;
}

.container-package-options li {
  font-size: 18pt;
  margin: 35px;
  list-style: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.btn-container a:first-child {
  padding: 15px 20px;
  margin-bottom: 30px;
  font-size: 18pt;
  background: var(--main-color);
  color: white;
  outline: none;
  border: transparent;
  border-radius: 10px;
}

.time-delivary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 40px;
  font-size: 18pt;
  font-weight: 900;
  color: rgb(36, 36, 36);
}

.time-delivary p {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .packages-container {
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;
    background: white;
    box-shadow: -10px 0px 25px 0px rgba(0, 0, 0, 0.082);
    height: 700px;
    border-radius: 10px;
  }

  .packages-title {
    width: 100%;
    top: 0px;
    height: 10%;
    background: rgb(212, 212, 212);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packages-title a {
    cursor: pointer;
    font-size: 12pt;
    margin: auto;
    z-index: 5000 !important;
  }

  .packages-options {
    position: absolute;
    top: 0px;
    height: 700px;
    min-width: 100%;
    display: flex;

    overflow: hidden;
  }

  .package {
    height: 100%;
    min-width: 100%;
  }

  #basic {
    position: relative;
  }

  #standard {
    position: relative;
  }

  #premium {
    position: relative;
  }

  .basic-selection {
    position: absolute;
    top: 0px;
    width: 32%;
    height: 10%;
    z-index: 2000;
    border-bottom: 5px solid var(--main-color);
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .standard-selection {
    position: absolute;
    top: 0px;
    left: 28%;
    width: 36%;
    height: 10%;
    z-index: 2000;
    border-bottom: 5px solid var(--main-color);
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .premium-selection {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 10px;
    width: 36%;
    height: 10%;
    z-index: 2000;
    border-bottom: 5px solid var(--main-color);
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container-package {
    position: relative;
    height: 90%;
    width: 100%;
    top: 10%;
  }

  .green {
    color: rgb(0, 255, 0);
    font-size: 15pt;
    margin-right: 10px;
  }

  .gray {
    color: rgb(185, 185, 185);
    font-size: 15pt;
    margin-right: 10px;
  }

  .container-package-options {
    position: absolute;
    top: 16%;
    width: 88%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .container-package-options li {
    font-size: 15pt;
    list-style: none;
  }

  .btn-container {
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 100%;
  }

  .btn-container a:first-child {
    padding: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 15pt;
    background: var(--main-color);
    color: white;
    outline: none;
    border: transparent;
    border-radius: 10px;
  }

  .time-delivary {
    display: flex;
    justify-content: left;
    align-items: left;
    position: absolute;
    left: 35px;
    top: 40px;
    font-size: 15pt;
    font-weight: 900;
    color: rgb(36, 36, 36);
  }

  .time-delivary p {
    margin-left: 5px;
  }
}
