:root {
  --main-color: rgba(117, 16, 247, 1);
  --black-light: rgba(0, 0, 0, 0.87);
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  position: relative;
}

.container {
  position: relative;
  z-index: 10;
  width: 80%;
  margin: 250px auto 50px auto;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 310px auto -140px auto;
    width: 90%;
  }
}
