a {
    text-decoration: none;
}

body, html{
    overflow-x: hidden;
}

.portfolio-container {
    position: relative;
    z-index: 10;
    width: 90%;
    margin: 250px auto 50px auto;
}

.portfolio-container .portfolio-title {
    color: white;
    background: black;
    top: -5px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    z-index: 2;
}

.portfolio-container .about-title {
    color: black;
    background: white;
    position: absolute;
    top: -15px;
    right: 0px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
}

.ball-container {
    align-items: center;
    display: flex;
}

.ball-container hr {
    width: 100%;
}

.ball {
    position: absolute;
    animation: 0.4s linear slide;
    left: 80px;
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-portfolio {
    position: relative;
    min-width: 30%;
    height: 250px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.253);
    margin: 20px auto;
    border-radius: 5px;
}

.image-portfolio img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-filter: grayscale(30%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
}

.link-website {
    position: absolute;
    background: rgba(0, 0, 0, 0.589);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 5px;
    -webkit-transition: all 1s ease-in-out 0.2s;
    -moz-transition: all 1s ease-in-out  0.2s;
    -ms-transition: all 1s ease-in-out  0.2s;
    transition: all 1s ease-in-out  0.2s;
    opacity: 0;
    visibility: hidden;
}

.image-portfolio:hover .link-website {
    opacity: 1;
    visibility: visible;
}

.link-website a:first-child {
    position: absolute;
    top: 32%;
    left: 34%;
    font-size: 12pt;
    padding: 12px 15px;
    color: white;
    background: rgba(117, 16, 247, 1);
    z-index: 3;
    left: 25%;
    border: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.link-website a {
    position: absolute;
    width: 50%;
    top: 56%;
    left: 25%;
    font-size: 12pt;
    padding: 12px 15px;
    color: white;
    background: rgb(189, 189, 0);
    z-index: 3;
    border: transparent;
    outline: none;
    border-radius: 10px;
}

@keyframes slide {
    from {
        left: 90%;
        transform: translateX(90%);
    }
    to {
        left: 80px;
        transform: translateX(80px);
    }
}

@media only screen and (max-width: 1000px) {
    .portfolio-container {
        margin: 310px auto -140px auto;
    }
    .portfolio-container .portfolio-title {
        background: black;
        width: 150px;
        color: white;
        position: relative;
    }
    .portfolio-container .about-title {
        position: absolute;
        top: -21px;
        right: 0px;
        width: 150px;
    }
    .ball {
        left: 50px;
    }
    .image-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .image-portfolio {
        width: 100%;
        height: 250px;
        margin: 30px auto;
    }
    .image-portfolio img {
        width: 100%;
        height: 100%;
    }
    @keyframes slide {
        from {
            left: 75%;
            transform: translateX(75%);
        }
        to {
            left: 50px;
            transform: translateX(50px);
        }
    }
}